*.pyc
*~
__pycache__
myvenv
db.sqlite3
db--junk.sqlite3
db--junk2.sqlite3
/static
.DS_Store
settings.py
/pm/management/commands/time_import_log
/pm/old_migrations
/pm/templates/pm/index(old).html
views(old).py
query_result.csv