html {overflow-y: scroll;}

body { background-color: #2b3e50; color: #ebebeb; }

.navbar-fixed-top {-moz-box-shadow: 0px 3px 20px 0px #262626; -webkit-box-shadow: 0px 3px 20px 0px #262626; box-shadow:0px 3px 20px 0px #262626;}

#navbar-main li {font-size: 13px;}
#navbar-main .badge {margin-top: -3px; color: white; background-color: rgb(223, 105, 26); padding:5px;}
#navbar-main .current_page {font-weight: bold;}

#pm_logo {height: 40px; margin: 0px; margin-top: -8px;}

h1 {margin: 30px 0 20px 0; font-size: 4em;}
h1.dashboard {font-weight: 400;}
h2 {margin: 0 0 25px 0;}
h2.product {margin: 10px 0 -10px 0; font-weight: 400;}

#error_wrapper {width:100%; text-align: center;}
.error_msg {width: auto; margin: 0 auto; margin-top: 200px; font-weight: bold; font-size: 4em;}

/*Login form*/
#login_container {width:400px; margin:0 auto; margin-top:150px; display: block; position:relative;}
#login_container label {display: inline-block; margin-left:50px; font-size: 1em; margin-top: 3px;}
#login_container input {width: 213px; display: inline-block; float:right; margin:0; margin-right:50px;}
#login_container .form-group {margin-bottom: 25px;}
#login_container button {position:relative; display: block; width: 100px; margin: 0 auto;}
#login_container p {text-align: center; color: orange; margin-bottom: 30px;}

.label {margin-left: 10px;}
.label-non-billable { background-color: #7F66FF;}

#search_input {margin-top:-55px; display:inline; position:absolute; right:15px; width: 200px;}
#search_input[type=search]::-webkit-search-cancel-button {-webkit-appearance: searchfield-cancel-button; }

th { height: 55px; /*width: 25px;*/ }
td { height: 50px; /*width: 25px;*/ }

.table_wrapper {margin-bottom:60px;}
#projects_table th {font-size: 1.1em;}
#projects_table th.team_column {width:10%;}
#projects_table td {vertical-align: middle; font-size: 1.3em;}
#projects_table td span.team_label {
    display:inline-block; padding-top:3px; border:2px solid rgb(153, 153, 153); border-radius: 50%; font-size: 12px; height:28px; width:28px; text-align: center; margin-left:3px;}
#projects_table td .first-column-content {display:inline-block; width:90%;}
#projects_table td.first-column a {margin-top: 5px;}
#projects_table td.first-column.inactive-indent span.indenter, #projects_table td.first-column.non-billable-indent span.indenter {padding-left: 12px!important; padding-right: 8px!important;} 
#projects_table td.recent-hrs-column {width:12%;}
#projects_table td.budget-column {width:19%;}
#projects_table td.deadline-column {width:12%;}
#projects_table tr.project_group_break {border-bottom: 2px solid black;}

#projects_table .fa-user {padding-right:10px; padding-left:5px; font-size: 18px;}


#projects_table tbody {height:50px; border:none;}
#projects_table tbody:nth-child(even) { background-color: #4e5d6c; }
#projects_table tr.non-billable {border-left: 2px solid rgb(215,81,0);}
#projects_table tr.non-billable-header {background-color: rgb(43,62,80); font-weight: bold;}
#projects_table tr.non-billable-header td {border-top: 2px solid rgb(223,105,26);}

#projects_table tr.inactive-projects {border-left: 2px solid grey;}
#projects_table tr.inactive-projects-header {background-color: rgb(43,62,80); font-weight: bold;}
#projects_table tr.inactive-projects-header td {border-top: 2px solid grey;}

#projects_table a.edit_project {position: relative; display: inline-block; visibility: hidden; margin:0; padding:0; margin-left:-45px; margin-right:25px; width: 20px; height:30px;}
#projects_table tr.inactive-projects a.edit_project {display:inline; margin-left:-48px;}
#projects_table tr.non-billable a.edit_project {display:inline; margin-left:-48px;}

#projects_table tr.project_data_row {height:80px;}
#projects_table tr.project_data_row td {vertical-align: top; padding-top: 5px;}
#projects_table tr.project_data_row.inactive_details_row {border-left: 2px solid grey;}
#projects_table tr.project_data_row.nonbillable_details_row {border-left: 2px solid rgb(215,81,0);}
#projects_table td.team_column {padding-left:32px;}
#projects_table td.team_column span.indenter {display: none;}
#projects_table td.team_column .team_label {font-size: 13px; margin-bottom: 5px;}
#projects_table td.team_column .team_border {position:relative; display:inline-block; min-width:70px; height:1px; padding-top:10px; top: -5px; border-top:1px solid rgb(153, 153, 153);}
#projects_table td.team_column.inactive_nonbillable_details {padding-left: 45px;}

#projects_table td.update_column .update_label {font-size: 13px; margin-left: -450px;}
#projects_table td.update_column .update_text {margin-left: -450px; border-top: 1px solid rgb(153, 153, 153); padding-top:10px;}

p.no_projects {margin-top: 20px; font-size: 1.25em;}

/* Project Edit form */
.redmine_url {font-weight: bold;}
.pm_form label {font-weight: bold; width: 150px;}
.pm_form input, .pm_form select {width: 400px; color: black;}
.pm_form input[readonly] {color:white; background:none; border: none;}
.pm_form ul.errorlist {/*position:absolute; left: 625px;*/ list-style: none; color:red; margin-top:2px;}
.pm_form button {width: 100px; margin-top:10px;}
.pm_form {margin-bottom: 30px;}

/* Project Edit form autocomplete*/
 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #3D4A59;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item {margin-top: 5px;}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #384351;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
	display: none;
}

/* Hide LastPass form button thingy */
input[type="text"], input[type="password"] {
    background-position: 150% 50% !important;
}