{% extends 'pm/base.html' %}

{% block content %}

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="dashboard">Projects</h1>
					<p>Work we've spent time on in the last couple of weeks.</p>
<!-- 					<div class="form-group">
					<div class="form-group">
						<input id="search_input" type="search" placeholder="filter projects" class="form-control">
					</div>
 -->				</div>
			</div>
		</div>
	</div>

<!-- 	Projects list -->
	<div class="container">

		{% include 'pm/product_table.html' with product_title="AtoM" product_name="AtoM" product_count=product_count.0 non_billable_count=non_billable_count.0 inactive_count=inactive_count.0 %}

		{% include 'pm/product_table.html' with product_title="Archivematica" product_name="Archivematica" product_count=product_count.1 non_billable_count=non_billable_count.1 inactive_count=inactive_count.1 %}

		{% include 'pm/product_table.html' with product_title="Mixed projects" product_name="Combo" product_count=product_count.3 non_billable_count=non_billable_count.3 inactive_count=inactive_count.3 %}
			
		{% include 'pm/product_table.html' with product_title="Binder" product_name="Binder" product_count=product_count.2 non_billable_count=non_billable_count.2 inactive_count=inactive_count.2 %}

    <br/>

    {% if user.is_superuser %}
	    <h3>Uncategorized projects</h3>
	    {% for entry in sorted_all_projects_details %}
	      {% if entry.1.project_id is not null %}
	        <li>id #{{entry.1.project_id}} -- <a href="{% url 'project_new' pid=entry.1.project_id %}">define project</a></li>
	      {% endif %}
	    {% endfor %}
	    <br/>
	{% endif %}

{% comment %}
    {% if user.is_superuser %}
	    <h3>Inactive projects</h3>

	    {% for entry in displayed_inactive_projects %}
	        <li>{{ entry.client }}: {{entry.project_desc}} -- {{entry.product}} | {{entry.hours_remaining}} / {{entry.budget}} hrs remaining | {{entry.deadline}} | <a href="{% url 'project_edit' pid=entry.redmine_project_id %}">edit</a></li>
	    {% endfor %}
    
	    <br/>
	{% endif %}
{% endcomment %}
  </div>

{% include 'pm/project_log_form.html' %}

{% endblock %}