{% extends 'pm/base.html' %}

{% block content %}

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-md-12">
					<h1 class="dashboard">Projects</h1>
					<p>Work we've spent time on in the last couple of weeks.</p>
					<div class="form-group">
						<input id="search_input" type="search" placeholder="filter projects" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 	Projects list -->
	<div class="container">

		{% if product_count.0 > 0 or non_billable_count.0 > 0 or inactive_count.0 > 0%}
		<div class="table_wrapper">
		<h2 class="product">AtoM</h2>
		<table id="projects_table" class="table table-striped table-hover table-treeview">
			<thead>
				<tr>
					<th>Project name</th>
					<th class="text-right">Spent in last 14 days</th>
					<th class="text-right">Overall budget</th>
					<th class="text-right">Deadline</th>
				</tr>
			</thead>
			<tbody>
		        {% for entry in sorted_all_projects_details %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "AtoM" %}
				        <tr>
			                <td class="first-column">
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        {% if non_billable_count.0 > 0 %}
		        <tr class="non-billable-header non-billable" data-tt-id="20">
		        	<td colspan="4">Non-billable projects ({{non_billable_count.0}})</td>
	        	</tr>
		        {% for entry in displayed_non_billable_projects %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "AtoM" %}
				        <tr class="non-billable" data-tt-id="21" data-tt-parent-id="20">
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        {% endif %}	        	        	

	    		{% if inactive_count.0 > 0 %}
			        <tr class="inactive-projects-header inactive-projects" data-tt-id="60">
			        	<td colspan="4">Inactive projects ({{inactive_count.0}})</td>
		        	</tr>
	    			{% for entry in displayed_inactive_projects %}
			        	{% if entry.1.product == "AtoM" %}
					        <tr class="inactive-projects" data-tt-id="61" data-tt-parent-id="60">
				                <td>
								{% if user.is_superuser %}
								<a class="edit_project" href="{% url 'project_edit' pid=entry.1.redmine_project_id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								{% endif %}
				                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
				                {% if entry.1.client != "none" %}
				                	{{entry.1.client}} - {{entry.1.project_desc}}</a></td>
				                {% else %}
				                	{{entry.1.project_desc}}</a></td>
				                {% endif %}
				          			<td class="text-right recent-hrs-column">---</td>
				          			{% if entry.1.budget != 0 %}
				          				<td class="text-right budget-column">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
				          			{% else %}
				          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
				          			{% endif %}
				          			<td class="text-right deadline-column">{{ entry.1.deadline }}</td>
							</tr>
				        {% endif %}
			        {% endfor %}
		        {% endif %}

        	</tbody>
		</table>
		</div>
		{% endif %}

		{% if product_count.1 > 0 or non_billable_count.1 > 0 or inactive_count.1 > 0 %}
		<div class="table_wrapper">
		<h2 class="product">Archivematica</h2>
		<table id="projects_table" class="table table-striped table-hover table-treeview">
			<thead>
				<tr>
					<th>Project name</th>
					<th class="text-right">Spent in last 14 days</th>
					<th class="text-right">Overall budget</th>
					<th class="text-right">Deadline</th>
				</tr>
			</thead>
			<tbody>
		        {% for entry in sorted_all_projects_details %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Archivematica" %}
				        <tr>
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}

		        {% if non_billable_count.1 > 0 %}
		        <tr class="non-billable-header non-billable" data-tt-id="1">
		        	<td colspan="4">Non-billable projects ({{non_billable_count.1}})</td>
	        	</tr>
		        {% for entry in displayed_non_billable_projects %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Archivematica" %}
				        <tr class="non-billable" data-tt-id="2" data-tt-parent-id="1">
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        {% endif %}
		        
	    		{% if inactive_count.1 > 0 %}
			        <tr class="inactive-projects-header inactive-projects" data-tt-id="50">
			        	<td colspan="4">Inactive projects ({{inactive_count.1}})</td>
		        	</tr>
	    			{% for entry in displayed_inactive_projects %}
			        	{% if entry.1.product == "Archivematica" %}
					        <tr class="inactive-projects" data-tt-id="51" data-tt-parent-id="50">
				                <td>
								{% if user.is_superuser %}
								<a class="edit_project" href="{% url 'project_edit' pid=entry.1.redmine_project_id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								{% endif %}
				                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
				                {% if entry.1.client != "none" %}
				                	{{entry.1.client}} - {{entry.1.project_desc}}</a></td>
				                {% else %}
				                	{{entry.1.project_desc}}</a></td>
				                {% endif %}
				          			<td class="text-right recent-hrs-column">---</td>
				          			{% if entry.1.budget != 0 %}
				          				<td class="text-right budget-column">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
				          			{% else %}
				          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
				          			{% endif %}
				          			<td class="text-right deadline-column">{{ entry.1.deadline }}</td>
							</tr>
				        {% endif %}
			        {% endfor %}
		        {% endif %}

        	</tbody>
		</table>
		</div>
		{% endif %}

		
		{% if product_count.3 > 0 or non_billable_count.3 > 0 or inactive_count.3 > 0%}
		<div class="table_wrapper">
		<h2 class="product">Mixed projects</h2>
		<table id="projects_table" class="table table-striped table-hover table-treeview">
			<thead>
				<tr>
					<th>Project name</th>
					<th class="text-right">Spent in last 14 days</th>
					<th class="text-right">Overall budget</th>
					<th class="text-right">Deadline</th>
				</tr>
			</thead>
			<tbody>
		        {% for entry in sorted_all_projects_details %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Combo" %}
				        <tr>
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}

		        {% if non_billable_count.3 > 0 %}
		        <tr class="non-billable-header non-billable" data-tt-id="30">
		        	<td colspan="4">Non-billable projects ({{non_billable_count.3}})</td>
	        	</tr>
		        {% for entry in displayed_non_billable_projects %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Combo" %}
				        <tr class="non-billable" data-tt-id="31" data-tt-parent-id="30">
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        {% endif %}        	
        	</tbody>

	    		{% if inactive_count.3 > 0 %}
			        <tr class="inactive-projects-header inactive-projects" data-tt-id="70">
			        	<td colspan="4">Inactive projects ({{inactive_count.3}})</td>
		        	</tr>
	    			{% for entry in displayed_inactive_projects %}
			        	{% if entry.1.product == "Combo" %}
					        <tr class="inactive-projects" data-tt-id="71" data-tt-parent-id="70">
				                <td>
								{% if user.is_superuser %}
								<a class="edit_project" href="{% url 'project_edit' pid=entry.1.redmine_project_id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								{% endif %}
				                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
				                {% if entry.1.client != "none" %}
				                	{{entry.1.client}} - {{entry.1.project_desc}}</a></td>
				                {% else %}
				                	{{entry.1.project_desc}}</a></td>
				                {% endif %}
				          			<td class="text-right recent-hrs-column">---</td>
				          			{% if entry.1.budget != 0 %}
				          				<td class="text-right budget-column">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
				          			{% else %}
				          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
				          			{% endif %}
				          			<td class="text-right deadline-column">{{ entry.1.deadline }}</td>
							</tr>
				        {% endif %}
			        {% endfor %}
		        {% endif %}

		</table>
    	</div>
    	{% endif %}

		{% if product_count.2 > 0 or non_billable_count.2 > 0 or inactive_count.2 > 0 %}
		<div class="table_wrapper">
		<h2 class="product">Binder</h2>
		<table id="projects_table" class="table table-striped table-hover table-treeview">
			<thead>
				<tr>
					<th>Project name</th>
					<th class="text-right">Spent in last 14 days</th>
					<th class="text-right">Overall budget</th>
					<th class="text-right">Deadline</th>
				</tr>
			</thead>
			<tbody>
		        {% for entry in sorted_all_projects_details %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Binder" %}
				        <tr>
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        
		        {% if non_billable_count.2 > 0 %}
		        <tr class="non-billable-header non-billable" data-tt-id="40">
		        	<td colspan="4">Non-billable projects ({{non_billable_count.2}})</td>
	        	</tr>
		        {% for entry in displayed_non_billable_projects %}
			        {% if entry.1.project_id is null %}
				        {% if entry.1.product == "Binder" %}
				        <tr class="non-billable" data-tt-id="41" data-tt-parent-id="40">
			                <td>
							{% if user.is_superuser %}
							<a class="edit_project" href="{% url 'project_edit' pid=entry.0 %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
			                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
			                {% if entry.1.client != "none" %}
			                	{{entry.1.client}} - {{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% else %}
			                	{{entry.1.project_desc}}</a>{{entry.1.tm_status|safe}} {{entry.1.category_type|safe}}</td>
			                {% endif %}
			          			<td class="text-right recent-hrs-column">{{entry.1.recent_hours}} hrs</td>
			          			{% if entry.1.budget != 0 %}
			          				<td class="text-right budget-column {{entry.1.budget_status}}">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
			          			{% else %}
			          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
			          			{% endif %}
			          			<td class="text-right deadline-column {{entry.1.deadline_status}}">{{ entry.1.deadline }}</td>
						</tr>
						{% endif %}
					{% endif %}
		        {% endfor %}
		        {% endif %}        	

	    		{% if inactive_count.2 > 0 %}
			        <tr class="inactive-projects-header inactive-projects" data-tt-id="80">
			        	<td colspan="4">Inactive projects ({{inactive_count.2}})</td>
		        	</tr>
	    			{% for entry in displayed_inactive_projects %}
			        	{% if entry.1.product == "Binder" %}
					        <tr class="inactive-projects" data-tt-id="81" data-tt-parent-id="80">
				                <td>
								{% if user.is_superuser %}
								<a class="edit_project" href="{% url 'project_edit' pid=entry.1.redmine_project_id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								{% endif %}
				                <a target="_blank" href="https://projects.artefactual.com/projects/{{entry.1.identifier}}/issues">
				                {% if entry.1.client != "none" %}
				                	{{entry.1.client}} - {{entry.1.project_desc}}</a></td>
				                {% else %}
				                	{{entry.1.project_desc}}</a></td>
				                {% endif %}
				          			<td class="text-right recent-hrs-column">---</td>
				          			{% if entry.1.budget != 0 %}
				          				<td class="text-right budget-column">{{entry.1.remaining_hours}} / {{entry.1.budget}} hrs remaining</td>
				          			{% else %}
				          				<td class="text-right budget-column">{{entry.1.total_hours}} hrs total spent</td>
				          			{% endif %}
				          			<td class="text-right deadline-column">{{ entry.1.deadline }}</td>
							</tr>
				        {% endif %}
			        {% endfor %}
		        {% endif %}

        	</tbody>
		</table>
    	</div>
    	{% endif %}

    <br/>

    {% if user.is_superuser %}
	    <h3>Uncategorized projects</h3>
	    {% for entry in sorted_all_projects_details %}
	      {% if entry.1.project_id is not null %}
	        <li>id #{{entry.1.project_id}} -- <a href="{% url 'project_new' pid=entry.1.project_id %}">define project</a></li>
	      {% endif %}
	    {% endfor %}
	    <br/>
	{% endif %}

{% comment %}
    {% if user.is_superuser %}
	    <h3>Inactive projects</h3>

	    {% for entry in displayed_inactive_projects %}
	        <li>{{ entry.client }}: {{entry.project_desc}} -- {{entry.product}} | {{entry.hours_remaining}} / {{entry.budget}} hrs remaining | {{entry.deadline}} | <a href="{% url 'project_edit' pid=entry.redmine_project_id %}">edit</a></li>
	    {% endfor %}
    
	    <br/>
	{% endif %}
{% endcomment %}
  </div>

{% endblock %}