{% extends 'pm/base.html' %}

{% block content %}

	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-md-12">
					<h1>Project Timeline</h1>
					<h4>{{project_client}}: {{project_desc}}</h4>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		{% for date_to_display in month_years %}
			<h2 class="timeline_month_year">{{date_to_display}}</h2>
			{% for entry in project_logs_formatted %}
				{% if entry.entry_date_formatted == date_to_display %}
					<div class="row timeline_log_entry_wrapper">
						<div class="col-sm-1 timeline-bullet-wrapper">
							{% if entry.entry_action == 'DC' %}
								<i class="fa fa-check-circle-o timeline-bullet text-info" aria-hidden="true"></i>
							{% elif entry.entry_type == True %}
								<i class="fa fa-phone timeline-bullet text-warning" aria-hidden="true"></i>
							{% else %}
								<i class="fa fa-circle-o timeline-bullet" aria-hidden="true"></i>
							{% endif %}
						</div>
						<div class="timeline_log_entry col-sm-11">
							<div><span class="text-info">{{entry.entry_date|date:"l, N j, Y"}}</span> (posted by {{entry.entry_author}})</div>
							<div>{{entry.entry_text}}</div>
							{% if entry.entry_link %}
								<div><a href="{{entry.entry_link}}" target="_blank">related info</a></div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>

{% endblock %}